.hide {
    display: none;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
#reset-container, h1 {
    text-align: center;
}

body {
    font-family: 'Shadows Into Light', cursive;
    height: 680px;
    background-image: url("bg_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: rgb(39, 14, 62);
    
}

button {
    font-family: 'Righteous', cursive;
}

button#reset-button {
    color: rgb(39, 14, 62);
}

.active {
    background-color: rgb(236, 234, 234);
    color: black;
    border: 1px solid black;
}

.inactive {
    background-color: darkgrey;
    color: grey;
}

.left h2 {
    color: rgb(199, 0, 0);
}

.right h2 {
    color: rgb(0, 0, 199);
}

img#teamone-hit {
    float: left;
    height: 64px;
    width: 64px;
    visibility: hidden;
}

img#teamone-miss {
    float: left;
    height: 64px;
    width: 64px;
    visibility: hidden;
}

img#teamtwo-hit {
    float: left;
    height: 64px;
    width: 64px;
    visibility: hidden;
}

img#teamtwo-miss {
    float: left;
    height: 64px;
    width: 64px;
    visibility: hidden;
}