.hide {
    display: none;
}
.left {
    float: left;
    margin-left: 15%;
}
.right {
    float: right;
    margin-right: 15%;
}
.clear {
    clear: both;
}
#reset-container, h1 {
    text-align: center;
}

#game-interface {
    visibility: hidden;
}

body {
    font-family: 'Shadows Into Light', cursive;
    height: 680px;
    background-image: url("bg_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: rgb(39, 14, 62);
    
}

button {
    font-family: 'Righteous', cursive;
}

button#reset-button {
    color: rgb(39, 14, 62);
}

.active {
    background-color: rgb(236, 234, 234);
    color: black;
    border: 1px solid black;
}

.inactive {
    background-color: darkgrey;
    color: grey;
}

.left h2 {
    color: rgb(199, 0, 0);
}

.right h2 {
    color: rgb(0, 0, 199);
}

.target-img-left {
    display: flex;
    margin-top: 10px;
}

.target-img-right {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
}

img#teamone-hit {
    height: 64px;
    width: 64px;
    visibility: hidden;
    order: 0;
}

img#teamone-miss {
    height: 64px;
    width: 64px;
    visibility: hidden;
    order: 1;
}

img#teamtwo-hit {
    float: left;
    height: 64px;
    width: 64px;
    visibility: hidden;
    order: 0;
}

img#teamtwo-miss {
    float: left;
    height: 64px;
    width: 64px;
    visibility: hidden;
    order: 1;
}

#start-button-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: -200px;
}

button.start-button {
    height: 44px;
    width: 193px;
    font-size: 1.5em;
}